$green: #EAFEEC;
$green-light: #F1FFF8;
$grey: #F1F3F2;
$red: #F62A2A;
$health-green: #38CEA8;
$white: #FFFFFF;
$txt-main: #376474;
$head-txt: #212D32;
$light-text: #20414D;
$black: #32505B;
$blue: #6377DD;
$grey-ligt: #F0E9E9;
$more-grey: #888282;

* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green;
    padding: 2% 3%;
}

.socials {
    display: flex;
    align-items: center;

    &>:not(:last-child) {
        padding-right: 30px;
    }
}

.navpanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green-light;
    padding: 2% 3%;

    .contacts {
        &>:not(:last-child) {
            padding-right: 30px;
        }
    }
}

.list {
    display: flex;

    &>:not(:last-child) {
        padding-right: 30px;
    }

    &__item {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $light-text;
    }

}

.lady {
    // display: flex;
    // background-image: url(../images/lady.png);
    // background-repeat: no-repeat;
    // background-position: right;
    // height: fit-content;
    // width: 100%;
    background-color: $grey;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    min-height: 550px;
    justify-items: end;
    z-index: 0;

}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 35%;
    max-width: 500px;
    z-index: 1;


    &>:not(:last-child) {
        padding-bottom: 1vw;
    }

    &__heading:first-child {
        color: $black;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 48px;
    }

    &__heading {
        color: $txt-main;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48px;
    }

    &__text {
        color: $txt-main;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

}

.btn-box {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    padding-top: 20px;

    &__share {
        padding-top: 20px;
        color: $head-txt;
        font-size: 9px;
        padding-right: 50px;
    }

    &--green {
        background-color: $health-green;
        justify-content: space-around;
        color: $white;
        font-size: 24px;
        font-weight: 700;
        padding: 5% 0%;

        p {
            padding-top: 15px;
        }
    }
}


.btn {
    border-radius: 32px;
    padding: 20px 36px;
    cursor: pointer;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    &--red {
        background-color: $red;
    }

    &--green-btn {
        background-color: $health-green;
        border: 1px solid $white;
    }

    &--health {
        background-color: $white;
        color: $health-green;
        border: 1px solid $health-green;
        padding: 10px 32px;
    }
}

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 75px 30px;

    &--green {
        background-color: $green-light;
    }


    &__heading {
        color: $head-txt;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 48px;
        padding-bottom: 16px;
    }

    &__text {
        color: $txt-main;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 24px;
        padding-bottom: 50px;
        text-align: center;
    }

}

.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 46px;
    grid-column-gap: 50px;
    align-items: center;

    &--cook {
        background-image: url(../images/big-preview\ 1.png);
        background-repeat: no-repeat;
        background-position: center;
        height: fit-content;
        width: 100%;
        background-size: cover;
        min-height: 500px;
        grid-template-columns: repeat(3, 420px);
        justify-content: space-around;
    }

    &--program {
        grid-template-columns: repeat(4, 1fr);

    }

}

.item {
    display: flex;
    color: $health-green;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    height: fit-content;

    &__info {
        display: flex;
        flex-direction: column;
        padding-left: 15px;

    }

    &--title {
        color: $head-txt;
        font-weight: 700;
        font-size: 12px;
        padding-bottom: 10px;
    }

    &__heading {
        color: $txt-main;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;

        &--lined {
            padding-bottom: 30px;
        }
    }

    &__text {
        color: $txt-main;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 10px;

        &--description {
            padding-bottom: 50px;
        }

        &--coach {
            flex-direction: row;
            display: flex;
            padding-bottom: 20px;
            justify-content: space-between;
            color: $health-green;
            font-weight: 500;
            font-size: 18px;
        }


    }

    &--reviews {
        flex-direction: column;
        max-width: 350px;
        padding-left: 50px;
    }

    &--recipe {
        flex-direction: column;
        background-color: $white;
        // align-items: center;
        padding: 15px 20px;
        border-radius: 15px;
        text-align: center;
        border-bottom: $health-green solid 8px;

        img {
            border-radius: 15px;
            // border: 20px solid #FFFFFF;
            // padding-bottom: 15px;
            margin-bottom: 20px;
        }

    }

    &--rose {
        color: $black;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    &--lost {
        color: $health-green;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    &--star {
        display: flex;
    }

    &--schedule {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &--diet {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 24px;
        flex-direction: column;

        :first-child {
            padding: 20px 0%;

        }
    }
}

.julie {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 5%;
    padding: 2% 3% 5%;

    img {
        border: 2px solid #38CEA8;
        border-radius: 10px;
    }

}

.story {

    // border-bottom: 4px $health-green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 630px;
    padding-left: 5%;

    &__heading {
        color: $health-green;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 48px;
        padding-bottom: 20px;
    }

    &__description {
        color: $head-txt;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 24px;
        padding-bottom: 20px;
    }

    &__text {
        color: $head-txt;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 20px;
    }
}




.reviews {
    padding: 2% 3%;
}

.comment {
    display: flex;
    justify-content: space-around;

    &--top {
        border-top: 4px $health-green solid;
        padding: 50px 0px 0px 50px;
    }

    &--bottom {
        border-bottom: 4px $health-green solid;
        padding: 0px 50px 50px 0px;
    }

    &--coach {
        margin-bottom: 50px;
    }

}

.arrows {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


// .table {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(8, 1fr);
//     padding: 3% 4%;

//     &>div {
//         border: 1px solid #6377DD;
//         display: flex;
//         flex-direction: column;

//         &>price {
//             flex-direction: row;
//         }
//     }

//     &__service {
//         color: $head-txt;
//         font-family: 'Roboto', sans-serif;
//         font-weight: 400;
//         font-size: 24px;
//     }

// }

.table {
    color: $head-txt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 50px auto;
    border-collapse: collapse;
    text-align: center;

    td,
    th {
        border: 1px solid #6377DD;
        padding: 10px 20px;
    }

    .red {
        border-top: 1px solid $red;
        border-left: 1px solid $red;
        border-right: 1px solid $red;

        &--left{
            border-top: 1px solid #6377DD;
        }

        &--bottom{
                border-left: 1px solid $red;
                border-right: 1px solid $red;
                border-top: 1px solid #6377DD;
                border-bottom: 1px solid $red;
        
    }

    &--big {
        color: $head-txt;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 24px;

    }

    &--price {
        font-weight: 300;
        font-size: 58px;
    }

    // >&--red {
    //     border-top: 1px solid $red;
    //     border-left: 1px solid $red;
    //     border-right: 1px solid $red;

    //     &--bottom {
    //         border-left: 1px solid $red;
    //         border-right: 1px solid $red;
    //         border-top: 1px solid #6377DD;
    //         border-bottom: 1px solid $red;

    //     }
    }

}


// .price {
//     padding-left: 75px;
//     padding-right: 75px;
//     // border: 1px solid #6377DD;
//     text-align: center;

//     &>tr, td, th {
//         border: 1px solid #6377DD;
//         width: 100px;
//         height: 150px;

//     }

//     // &>td {
//     //     border: 1px solid #6377DD;

//     // }
// }

.diet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 70%;
    gap: 10px;
}

.fruits {
    background-image: url(../images/fruits.png);
    background-repeat: no-repeat;
    background-position: center;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    width: 100%;
    background-size: cover;
    min-height: 550px;
    align-items: center;
}

.window {
    background-color: $white;
    border-radius: 10px;
    margin-left: 100px;
    display: flex;
    padding: 3% 4%;
    flex-direction: column;

    &__heading {
        color: $health-green;
        font-weight: 400;
        font-size: 24px;
    }

    &__text {
        color: $txt-main;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 30px;
    }

    &__description {
        color: $txt-main;
        font-weight: 400;
        font-size: 12px;
    }

    &__dont-wait {
        font-weight: 500;
        font-size: 12px;
        padding-bottom: 30px;
    }

    input {
        border: 1px solid $more-grey;
        background-color: $grey-ligt;
        border-radius: 100px;
        min-height: 40px;
        max-width: 350px;
        padding-left: 20px;
    }
}

.coaches {
    &__heading {
        text-align: center;
        font-weight: 500;
        font-size: 48px;
        color: $head-txt;
        padding-top: 50px;

        &--small {
            font-weight: 400;
            font-size: 24px;
            color: $light-text;
        }
    }
}

.sked {
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    font-weight: 400;
    font-size: 12px;
    color: $head-txt;

    >:not(:last-child) {
        padding: 5% 0%;
    }

    >:first-child {
        padding-bottom: 30px;
    }

    &__item {
        color: $black;

        &--top {
            color: $head-txt;
        }

        &--bottom {
            color: $txt-main;
        }

        &--head {
            font-weight: 400;
            font-size: 16px;
            color: $txt-main;
        }

        &--main {
            color: $head-txt;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 4% 0%;
}